PORT=3000

DATABASE_URL="postgresql://user:password@localhost:5432/collecting_system?schema=public"

REDIS_URL="redis://localhost:6379"

MQTT_HOST="localhost"
MQTT_PORT=1883
MQTT_USERNAME=""
MQTT_PASSWORD=""

JWT_SECRET="your-jwt-secret-key"
JWT_EXPIRES_IN="24h"

NODE_ENV="development"